.container{
    display:flex;
    flex-direction: column;
    margin-top:8vh;
    height: 92vh;
    justify-content: center;
    align-items: center;
}

.container > div {
    background-color: #FBF6EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vw;
    border-radius: 8px;
    padding: 0 3em 0 3em;
}

.container > div > span {
    margin: 0.5em;
    font-size: 28px;
}

body{
    background-color: #EAD7C3;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 12px 0px;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    background-color: #DCE0D9;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.form > h3 {
    margin-top:0;
    margin-bottom:0.5em;
}

.form > input {
    margin-bottom: 1.5em;
    font-size: 20px;
    padding: 4px;
    padding-left: 8px;
    width: 100%;
    border-radius: 16px;
    background-color: #FBF6EF;
    border: none;
    box-sizing: border-box;
}

.form > button {
    border:none;
    background-color: black;
    color: #FBF6EF;
    width:70%;
    font-size: 24px;
    border-radius: 8px;
    padding: 8px;
    align-self: center;
}

.container > div > h3 {
    font-size: 16px;
    margin: 1.5em 0;
}

.container > div > h3 > span {
    text-decoration: underline;
}