.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #FBF6EF;
  border-radius: 10px;
  align-self: center;
}
.block {
  margin-top: 20px;
  margin: 10px;
}

.user {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.overlayEditBoard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editBoard {
  background-color: #FBF6EF;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.editBoard > input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.editBoard > textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-height: 100px;
  resize: none;
}

.editBoard > button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}